In [36]:
import pandapower as pp
import pandapower.networks as pn
from pandapower.estimation import estimate, remove_bad_data, chi2_analysis
from pandapower.plotting.plotly import simple_plotly, vlevel_plotly

import pandas as pd

import numpy as np
# from tqdm import tqdm

from scipy import stats
print(pp.__version__)

2.0.1

In [81]:
def create_measurement_unit(df_measurement, net):
    
    list_value=[]
    list_std=[]
    for index, row in df_measurement.iterrows():
        if row['element_type'] =='bus':
            if row['meas_type'] =='v':
                mu= net.res_bus.iloc[row['element'],0]
                sigma = (abs(mu)*upper_bus_accuracy-abs(mu)*lower_bus_accuracy)/4
            elif row['meas_type'] =='p':
                mu= net.res_bus.iloc[row['element'],2]
                sigma = (abs(mu)*upper_bus_accuracy-abs(mu)*lower_bus_accuracy)/4
            elif row['meas_type'] =='q':
                mu= net.res_bus.iloc[row['element'],3]
                sigma = (abs(mu)*upper_bus_accuracy-abs(mu)*lower_bus_accuracy)/4
                
        elif row['element_type'] =='line':
            if row['side']=='from':
                if row['meas_type'] =='p':
                    mu= net.res_line.iloc[row['element'],0]
                    sigma = (abs(mu)*upper_line_accuracy-abs(mu)*lower_line_accuracy)/4
                elif row['meas_type'] =='q':
                    mu = net.res_line.iloc[row['element'],1]
                    sigma = (abs(mu)*upper_line_accuracy-abs(mu)*lower_line_accuracy)/4
                elif row['meas_type']=='i':
                    mu=net.res_line.iloc[row['element'],6]
                    sigma = (abs(mu)*upper_line_accuracy-abs(mu)*lower_line_accuracy)/4
            elif row['side']=='to':
                if row['meas_type'] =='p':
                    mu= net.res_line.iloc[row['element'],2]
                    sigma = (abs(mu)*upper_line_accuracy-abs(mu)*lower_line_accuracy)/4
                elif row['meas_type'] =='q':
                    mu = net.res_line.iloc[row['element'],3]
                    sigma = (abs(mu)*upper_line_accuracy-abs(mu)*lower_line_accuracy)/4
                elif row['meas_type']=='i':
                    mu=net.res_line.iloc[row['element'],7]
                    sigma = (abs(mu)*upper_line_accuracy-abs(mu)*lower_line_accuracy)/4
                    
                    
        elif row['element_type'] =='trafo':
            if row['side']=='from':
                if row['meas_type'] == 'v':
                    mu =net.res_trafo.iloc[row['element'],8]
                    sigma = (abs(mu)*upper_trafo_accuracy-abs(mu)*lower_trafo_accuracy)/4
                elif row['meas_type'] == 'p':
                    mu =net.res_trafo.iloc[row['element'],0]
                    sigma = (abs(mu)*upper_trafo_accuracy-abs(mu)*lower_trafo_accuracy)/4
                elif row['meas_type'] == 'q':
                    mu =net.res_trafo.iloc[row['element'],1]
                    sigma = (abs(mu)*upper_trafo_accuracy-abs(mu)*lower_trafo_accuracy)/4
            elif row['side']=='to':
                if row['meas_type'] =='v':
                    mu =net.res_trafo.iloc[row['element'],10]
                    sigma = (abs(mu)*upper_trafo_accuracy-abs(mu)*lower_trafo_accuracy)/4
                elif row['meas_type'] =='p':
                    mu =net.res_trafo.iloc[row['element'],2]
                    sigma = (abs(mu)*upper_trafo_accuracy-abs(mu)*lower_trafo_accuracy)/4
                elif row['meas_type'] =='q':
                    mu =net.res_trafo.iloc[row['element'],3]
                    sigma = (abs(mu)*upper_trafo_accuracy-abs(mu)*lower_trafo_accuracy)/4
#         print(mu)  
        value = np.random.normal(mu, sigma, 1)
        list_value.append(value[0])
        list_std.append(sigma)
    df_measurement['value']=list_value
    df_measurement['std_dev']=list_std

    for index, row in df_measurement.iterrows():
        if row['element_type']=='bus':
            pp.create_measurement(net, row['meas_type'], row['element_type'], value=row['value'], 
                                  std_dev=row['std_dev'], element=row['element'])
        elif row['element_type']=='line':
            pp.create_measurement(net, row['meas_type'], row['element_type'], value=row['value'], 
                                  std_dev=row['std_dev'], element=row['element'], side=row['side'])
        elif row['element_type']=='trafo':
            if row['meas_type'] in ['p','q']:
                pp.create_measurement(net, row['meas_type'], row['element_type'], value=row['value'], 
                                      std_dev=row['std_dev'], element=row['element'], side=row['side'])
    return df_measurement, net

In [38]:
net=pn.case14()
pp.runpp(net)

In [ ]:
print(net)

In [ ]:
print(net.load)

In [ ]:
print(net.gen)

In [ ]:
print(net.ext_grid)

In [ ]:
print(net.trafo)

In [ ]:
df_measurement=pd.DataFrame()
df_measurement=pd.DataFrame()
df_measurement['meas_type']=['v','v','v','v','v','v','v','v',
                             'p','q','p','q','p','q',
                             'p','q','p','q','p','q',
                             'p','q','p','q','p','q',
                             'p','q','p','q','p','q',
                             'p','q']
df_measurement['element_type']=['bus','bus','bus','bus','bus','bus','bus','bus',
                                'line','line','line','line','line','line',
                                'line','line','line','line','line','line',
                                'line','line','line','line','line','line',
                                'line','line','line','line','line','line',
                                'line','line']
df_measurement['element']=[1,5,6,8,9,10,11,12,
                           0,0,1,1,2,2,3,3,
                           4,4,5,5,6,6,7,7,
                           8,8,9,9,10,10,11,11,
                           12,12]
df_measurement['side']=['None','None','None','None','None','None','None','None',
                        'from','from','from','from','from','from',
                       'from','from','from','from','from','from',
                       'from','from','from','from','from','from',
                       'from','from','from','from','from','from',
                       'from','from']



df_measurement['meas_type']=['v','p','q',]

In [ ]:
X=pd.DataFrame()
#create transformer dataframe
df_temp=pd.DataFrame()

In [ ]:
df_measurement, net = create_measurement_unit(df_measurement, net)


#State Estimation 
success = estimate(net, init="flat", calculate_voltage_angles=True, zero_injection=[6])

In [49]:
print(net.res_line)

     p_from_mw  q_from_mvar     p_to_mw  q_to_mvar     pl_mw   ql_mvar  \
0   156.882891   -20.404292 -152.585290  27.676250  4.297600  7.271958
1    75.510382     3.854991  -72.747509   2.229359  2.762873  6.084350
10    5.227552     4.219138   -5.214678  -4.184937  0.012875  0.034201
11    9.426381     3.610006   -9.310227  -3.362931  0.116154  0.247075
12   -3.785322    -1.615063    3.797904   1.644514  0.012581  0.029451
13    1.614258     0.753959   -1.607960  -0.748261  0.006298  0.005698
14    5.643851     1.747174   -5.589773  -1.637069  0.054078  0.110105
2    73.237579     3.560203  -70.914310   1.602233  2.323269  5.162436
3    56.131496    -1.550350  -54.454838   3.020687  1.676658  1.470337
4    41.516215     1.170998  -40.612462  -2.099034  0.903753 -0.928036
5   -23.285690     4.473116   23.659135  -4.835652  0.373445 -0.362537
6   -61.158230    15.823642   61.672650 -14.201005  0.514420  1.622637
7     7.353277     3.560473   -7.297904  -3.444514  0.055373  0.115959
8     7.786067     2.503414   -7.714258  -2.353959  0.071809  0.149455
9    17.747977     7.216575  -17.535891  -6.798913  0.212085  0.417662

    i_from_ka    i_to_ka       i_ka  vm_from_pu  va_from_degree  vm_to_pu  \
0    0.638290   0.634645   0.638290    1.060000        0.000000  1.045000
1    0.305050   0.305305   0.305305    1.060000        0.000000  1.019514
10  17.658967  17.658967  17.658967    1.055932      -14.938521  1.050985
11  26.534043  26.534043  26.534043    1.055932      -14.938521  1.035530
12  10.869239  10.869239  10.869239    1.050985      -15.097288  1.056907
13   4.686717   4.686717   4.686717    1.055189      -15.075585  1.050382
14  15.612659  15.612659  15.612659    1.050382      -15.156276  1.035530
2    0.300079   0.300351   0.300351    1.045000       -4.982589  1.010000
3    0.229806   0.229193   0.229806    1.045000       -4.982589  1.017671
4    0.169973   0.170589   0.170589    1.045000       -4.982589  1.019514
5    0.100402   0.101481   0.101481    1.010000      -12.725100  1.017671
6    0.265475   0.265475   0.265475    1.017671      -10.312901  1.019514
7   21.193869  21.193869  21.193869    1.070000      -14.220946  1.056907
8   21.216445  21.216445  21.216445    1.070000      -14.220946  1.055189
9   49.701157  49.701157  49.701157    1.070000      -14.220946  1.050382

    va_to_degree  loading_percent
0      -4.982589         1.507568
1      -8.773854         0.721097
10    -15.097288         0.064262
11    -16.033645         0.096559
12    -14.790622         0.039554
13    -15.156276         0.017055
14    -16.033645         0.056815
2     -12.725100         0.709395
3     -10.312901         0.542776
4      -8.773854         0.402912
5     -10.312901         0.239686
6      -8.773854         0.627022
7     -14.790622         0.077126
8     -15.075585         0.077208
9     -15.156276         0.180865

In [ ]:
print(net.res_bus_est)

In [ ]:
net.res_bus-net.res_bus_est

In [ ]:
print(net.res_line-net.res_line_est)

In [33]:
net.trafo

,df,hv_bus,i0_percent,in_service,lv_bus,max_loading_percent,name,parallel,pfe_kw,shift_degree,...,tap_min,tap_phase_shifter,tap_pos,tap_side,tap_step_degree,tap_step_percent,vn_hv_kv,vn_lv_kv,vk_percent,vkr_percent
0,1.0,3,0.0,True,6,100.0,None,1,0.0,0.0,...,NaN,False,-1.0,hv,NaN,2.2,135.0,14.000,2070.288,0.0
1,1.0,3,0.0,True,8,100.0,None,1,0.0,0.0,...,NaN,False,-1.0,hv,NaN,3.1,135.0,0.208,5506.182,0.0
2,1.0,4,0.0,True,5,100.0,None,1,0.0,0.0,...,NaN,False,-1.0,hv,NaN,6.8,135.0,0.208,2494.998,0.0
3,1.0,6,0.0,True,7,100.0,None,1,0.0,0.0,...,NaN,False,NaN,None,NaN,NaN,14.0,12.000,1743.885,0.0
4,1.0,6,0.0,True,8,100.0,None,1,0.0,0.0,...,NaN,False,NaN,None,NaN,NaN,14.0,0.208,1089.099,0.0

In [83]:
global upper_bus_accuracy, lower_bus_accuracy, upper_line_accuracy, lower_line_accuracy, upper_trafo_accuracy, lower_trafo_accuracy
upper_bus_accuracy=1.03
lower_bus_accuracy=0.97

upper_line_accuracy=1.05
lower_line_accuracy=0.95

upper_trafo_accuracy=1.03
lower_trafo_accuracy=0.97


net=pn.case14()
pp.runpp(net)

X=pd.DataFrame()
# create temp tranfo dataframe
temp_list=[]
for index, row in net.res_trafo.iterrows():
    temp_list.append(['v','trafo',index,'to'])
    temp_list.append(['p','trafo',index,'to'])
    temp_list.append(['q','trafo',index,'to'])
    temp_list.append(['v','trafo',index,'from'])
    temp_list.append(['p','trafo',index,'from'])
    temp_list.append(['q','trafo',index,'from'])
temp_df=pd.DataFrame(temp_list)
# concatrate temp transfo dataframe
X=pd.concat([X, temp_df])

# create temp line dataframe
temp_list=[]
for index, row in net.res_line.iterrows():
    temp_list.append(['p','line',index,'from'])
    temp_list.append(['q','line',index,'from'])
    temp_list.append(['p','line',index,'to'])
    temp_list.append(['q','line',index,'to'])
    
temp_df=pd.DataFrame(temp_list)
X=pd.concat([X, temp_df])

# create temp line dataframe
temp_list=[]
for index, row in net.res_bus.iterrows():
    temp_list.append(['v','bus',index,'None'])

temp_df=pd.DataFrame(temp_list)
X=pd.concat([X, temp_df])

X.columns=['meas_type','element_type','element','side']
X, net = create_measurement_unit(X, net)

1.03

In [77]:
X.head()

  meas_type element_type  element  side      value   std_dev
0         v        trafo        0    to   1.054724  0.026538
1         p        trafo        0    to -28.977638  0.701854
2         q        trafo        0    to  11.174870  0.284607
3         v        trafo        0  from   1.042402  0.025442
4         p        trafo        0  from  27.528031  0.701854

In [78]:
net.measurement.head()

   name measurement_type element_type  element      value   std_dev  side
0  None                p        trafo        0 -28.977638  0.701854    to
1  None                q        trafo        0  11.174870  0.284607    to
2  None                p        trafo        0  27.528031  0.701854  from
3  None                q        trafo        0  -9.460564  0.242027  from
4  None                p        trafo        1 -16.544781  0.401994    to

In [79]:
success = estimate(net, init="flat", calculate_voltage_angles=True, zero_injection=[6])

In [80]:
net.res_bus-net.res_bus_est

       vm_pu    va_degree         p_mw      q_mvar
0   0.246568     0.000000    -8.084874   16.517409
1   0.262570     4.439811  -184.636617   -8.961213
2  -0.116337   -17.933062    22.872746   -7.710837
3  -0.157285   -19.664029    39.383576    0.337124
4  -0.144611   -17.932059   -14.260065    6.704667
5  -0.052380   -21.935521    17.379034  -25.216922
6   0.276319    -4.014090     1.674066   -0.164703
7   0.307059    -3.888981  -393.917324  104.148143
8   0.274242    -5.358253  -158.297478  -94.288664
9  -0.132081   -25.907015   257.910421  196.283813
10  0.056503 -2233.572025  1562.683056  761.908591
11  0.030973  1405.391093  -361.916911  146.664275
12 -0.083280   -19.803607  -825.615629  635.935985
13 -0.101803   -21.699221    47.223372    4.198141

In [95]:
np.random.normal(20,10, 100)

array([11.77666194, 28.31836425, 31.0740396 , 14.9447382 , 34.18633554,
        6.4038042 , 10.01736358, 32.54240334, 10.83328377, 27.57807921,
       15.71929605, 19.00485856, 21.89598081, 15.19746442, 11.2615997 ,
       21.46791055,  3.39552621, 20.81984673,  9.25125685, 24.04578001,
       25.08734855, 30.96161027, 23.97583688, 29.35530446, 24.47272355,
        2.86783508, 29.72611062, 11.41189554, 31.31260172, 16.42017891,
       36.22933085, 26.29534553,  5.31257624, 21.97287074,  3.15936558,
       17.92516478, 35.89460086, 27.6375153 , 21.18689011, 10.84423196,
        1.18665025, 19.00270502, 37.48151437, 11.10636876, 33.88276628,
       17.54882786, -4.49596153, 34.29379925, 30.35130331, 19.74821009,
       35.42708745, 43.94366577,  8.93051072, 28.95868306, 25.24510224,
        7.90721096, 22.98251887, 11.30343018, 21.50766169, 21.67225512,
       30.53785731, 11.12474035, 39.74087166, 29.73606518, 31.91583353,
       34.17819964,  2.85339097, 20.89247866, 11.66335883, 32.38520068,
       36.60741131, 22.13076922,  1.01910142, 21.72955091, 18.01767595,
       21.52444101, 33.2919662 , 11.640462  , 13.52424449, 17.38514361,
       21.61327411, 31.20913719, 13.08741173, 21.34844856, 22.0915474 ,
       20.31624218, 15.79881868, 16.12267409,  2.8930656 , 18.40771108,
       26.31146807, 25.47761029, 25.31382709, 17.95744291,  7.86250855,
       39.2278341 , 24.43744933, 31.22160877, 21.00252073, 23.1274316 ])

In [85]:
value

array([-100.01812457])